<h1>Weather</h1>

<div class="small-6 small-offset-3 columns">

  <div class="callout primary">
    <h2> Temperature </h2>

      <p1><%= @temperature.temperature %>,</p>
      <p2><%= "Temperature outside" %>
      <%= @temperature.actual_temperature %>,</p2>
      <p3><%= "Feels like" %>
      <%= @temperature.feels_like_temperature %></p3>

  </div>
